body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.file-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.file-input input {
  margin: 0 10px;
}

#result {
  border: 1px solid #ccc;
  padding: 20px;
  white-space: pre-wrap;
}

button {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: small;
  box-shadow: 2px 2px 3px #000000b4;
}

.button-container {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.5em;
  transition: all 0.4s ease;
}

.button-container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.button-container:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}

.button-container:active::before {
  filter: blur(0.2em);
}